body {
  background-color: #d62222;
  color: white;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  gap: 2%;
}

h1 {
  color: yellow;
}

input {
  width: 90%;
  padding: 10px;
}

button {
  border: none;
  padding: 20px 40px;
}
