body {
  background-color: #d62222;
  color: white;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  gap: 2%;
}

h1 {
  color: yellow;
}
div {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(222, 43, 43);
  width: 90%;
}

input {
  width: 90%;
  padding: 2% 10%;
  margin: 10%;
}

button {
  border: none;
  padding: 1% 3%;
  font-weight: bold;
  font-size: 100%;
}
